body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4545c8;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: rgb(65, 51, 176);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input, form select, form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background-color: #007BFF;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

#recommendations {
  margin-top: 30px;
  padding: 20px;
  background: #e9f5ff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#resultsList {
  list-style-type: none;
  padding: 0;
}

#resultsList li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #ffffff;
}

#resultsList li span {
  display: block;
  margin-top: 5px;
}
